@font-face {
  font-family: 'F1';
  src: url('../assets/Formula1-Regular-1.ttf');
}

body {
  background: #591e29;
  color: white;
  font-family: 'F1', sans-serif;
  font-size: 9pt;
  font-weight: bold !important;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 16pt;
  }

  ::-webkit-scrollbar {
    width: 0;
  }

  .container {
    height: calc(100vh - 5rem);
  }

  .table {
    margin-inline: 1rem;
  }

  h1 {
    font-size: 2rem !important;
  }
}

body,
body * {
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  user-select: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #752e3b;
  box-shadow: inset 0 0 3px black;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #60222d;
}

::-webkit-scrollbar-track {
  background: #361118;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  overflow: auto;
  width: 100vw;
}

.table {
  background: #361118;
  border-radius: 0.5rem;
  border-spacing: 0.8rem;
  margin: 0 auto;
  max-width: 1800px;
  font-style: italic;
}

.table__head {
  font-size: 1.2em;
  height: 1.5rem;
  padding-inline: 0.2rem;
  text-align: left;
  text-transform: uppercase;
}

.table__head--centered {
  text-align: center;
}

.table__stage {
  border-radius: 0.2rem;
  color: white;
  padding: 0.2rem;
  text-align: center;
  text-shadow: 0 0 1px rgb(27, 0, 40);
}

.table__stage--gold {
  background-color: #d6bd2e;
}

.table__stage--silver {
  background-color: #9a9a9a;
}

.table__stage--bronze {
  background-color: #cd7f32;
}

.table__stage--points {
  background-color: #c3308126;
}

.table__points {
  text-align: center;
}

.table__team > div {
  display: inline-block;
  vertical-align: middle;
  height: 2.5em;
}

.player {
  overflow: hidden;
  width: fit-content;
}

.player::before {
  border-radius: 3px;
  content: '';
  display: inline-block;
  margin-right: 0.5em;
  position: relative;
  top: 0.3em;
  height: 1.2em;
  width: 0.5em;
}

.player--aston-martin::before {
  background-color: #0c8150;
}

.player--ferrari::before {
  background-color: #dc0000;
}

.player--mclaren::before {
  background-color: #ff8700;
}

.player--mercedes::before {
  background-color: #48f7d4;
}

.player--redbull::before {
  background-color: #1f1586;
}

.player--visa-carb::before {
  background-color: #0042db;
}

.player--williams::before {
  background-color: #0094b6;
}

.player--kick-sauber::before {
  background-color: #00fc00;
}

.table__team::before {
  background-position: 50% 50%;
  background-size: 150%;
  border-radius: 50%;
  content: '';
  display: inline-block;
  margin-right: 0.5em;
  height: 2.5em;
  position: relative;
  top: 0.3em;
  width: 2.5em;
}

#aston-martin::before {
  background-image: url('../assets/aston-martin.png');
}

#ferrari::before {
  background-image: url('../assets/ferrari.png');
  background-size: 120%;
}

#kick-sauber::before {
  background-image: url('../assets/kick-sauber.png');
}

#mclaren::before {
  background-image: url('../assets/mclaren.png');
}

#mercedes::before {
  background-image: url('../assets/mercedes.png');
  background-size: 120%;
}

#redbull::before {
  background-image: url('../assets/redbull.png');
  background-size: 120%;
}

#visa-carb::before {
  background-image: url('../assets/visa-carb.png');
}

#williams::before {
  background-image: url('../assets/williams.png');
}
